/*
whitewithsomedark: #e2e2e2
whitewash: #ebeced
frenchblue: #a2aab0
denim: #4c586f
cashmere: #cbc5c1
gunmetal: #3e3e3b
grayishblue: #9aabb9;
headerblue: #404751
*/

body {
  background-color: #dbdbdb;
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 40px;
  background-color: #404751;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 30px;
  width: auto;
}

.navbar-section {
  width: 30vw;
  padding: 0 10px;
  /*background-color: black;*/
}

.name {
  display: flex;
  justify-content: flex-start;
  /*font-size: 16px;*/
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  /*font-size: 20px;*/
}

.title * {
  padding: 0 1px;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.links * {
  transition: all .1s ease-in-out;
  padding: 0 0.3vw;
}

.links *:hover {
  transform: scale(1.2);
}

.mainbody {
  margin-top: 40px;
}

.link {
  width: 18vw;
  height: calc((100vh - 56px)/8);
  /*padding: 5px 2vw;*/
  border: 1px black solid;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3vw;

}

.section {
  position: fixed;
  left: 0;
}

.post {
  margin-left: 19vw;
  padding: 10px;
  /*background-color: white;*/
}

.text {
  margin: 3vw;
  background-color: white;
  padding: 20px;
  font-size: 16px;
}
