/*
whitewithsomedark: #e2e2e2
whitewash: #ebeced
frenchblue: #a2aab0
denim: #4c586f
cashmere: #cbc5c1
gunmetal: #3e3e3b
grayishblue: #9aabb9;
headerblue: #404751
*/

body {
  /*background-color: #262626;*/
  background-color: #262626;
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 40px;
  background-color: #404751;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid black;
}

.logo {
  height: 30px;
  width: auto;
}

.navbar-section {
  width: 30vw;
  padding: 0 10px;
  /*background-color: black;*/
}

.name {
  display: flex;
  justify-content: flex-start;
  /*font-size: 16px;*/
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  /*font-size: 20px;*/
}

.title * {
  padding: 0 1px;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.links * {
  transition: all .1s ease-in-out;
  padding: 0 0.3vw;
}

.links *:hover {
  transform: scale(1.2);
}

.mainbody {
  margin-top: 40px;
}

.link {
  width: 18vw;
  height: calc((100vh - 56px)/8);
  /*padding: 5px 2vw;*/
  /*border: 1px #758396 solid;*/
  border-top: 1px #758396 solid;
  border-right: 1px #758396 solid;
  border-bottom: 1px #758396 solid;
  /*background-color: #404751;*/
  background-color: #404751;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3vw;
  color: white;

}

.section {
  position: fixed;
  left: 0;
}

.post {
  margin-left: 19vw;
  padding: 10px;
  /*background-color: white;*/
}

.text {
  margin: 40px 8vw;
  background-color: #efefef;
  padding: 6vw;
  font-size: 16px;
  border-radius: 3px;
}

.media {
  margin-left: 19vw;
  margin-bottom: 75px;
  color: white;
}

.photo {
  margin: 0 auto;
  max-width: 50vw;
  min-width: 300px;
  height: auto;
  /*padding-top: 75px;*/
  /*margin-top: 75px;*/
  border-radius: 5px;
}

.caption {
  margin-top: 8px;
  text-align: center;
  margin-bottom: 70px;
}

.vertical {
  max-width: 30vw;
  /*min-width: 300px;*/
  height: auto;
}

.video {
  margin: 0 auto;
  max-width: 30vw;
  /*min-width: 300px;*/
  /*padding-top: 75px;*/
  /*margin: 0 auto;*/
  overflow: hidden;
}

.url {
  color: blue;
}

.url:hover {
  border-bottom: solid blue 1px;
}

.media-title {
  padding-top: 40px;
}

video::-webkit-media-controls {
    overflow: hidden !important;
}
video::-webkit-media-controls-enclosure {
    width: calc(100% + 32px);
    margin-left: auto;
}

.home-container {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  margin-left: 18vw;
}

.homephoto {
  /*display: inline;*/
  overflow: hidden;
  height: 100%;
  width: auto;
  min-width: 82vw;
  min-height: calc(100vh - 40px);
}

.disclaimer {
  bottom: 12px;
  right: 12px;
  color: grey;
  font-size: 1.3vw;
  position: absolute;
  width: 82vw;
  text-align: right;
}

.home-photo-container {
  height: calc(100vh - 40px);
  width: 82vw;
  background-color: black;
  overflow: hidden;
  object-fit: fill;
}

.desktop-name {

}

.mobile-name {
  display: none;
}

.mobile {
  display: none;
}

.selector {
  display: none;
}

.home-mobile {
  display: none;
}
